.orders-client-name {
  color: rgba(132, 52, 54);
}

.orders-btn {
  background-color: rgba(132, 52, 54) !important;
  border: none !important;
}

.orders-btn:hover {
  background-color: rgba(102, 32, 34) !important;
}

.orders-input {
  color: black !important;
  font-weight: 500;
}
