.item-card {
  color: white;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 55%,
    rgba(85, 85, 85, 0.5) 85%
  );
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 18rem;
}

.deleted-card {
  border: 1px solid #d05255;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 55%,
    rgba(120, 45, 45, 0.5) 85%
  ) !important;
}

.item-card .card-img-top {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.item-card-button {
  background-color: black;
  border: none;
}

.item-card-button:hover,
.item-card-button:active,
.item-card-button:disabled {
  background-color: rgb(30, 30, 30) !important;
  border: none;
}
