body.products-background::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: radial-gradient(
      circle,
      rgba(26, 26, 26, 0.8) 0%,
      rgba(0, 0, 0, 1) 50%
    ),
    url("../../../assets/images/wineglass.png");

  background-size: cover;
  background-position: center center;
  filter: blur(4px);
}

body.products-background #root {
  background-color: transparent;
}

.wine-filter-menu .filter-item:focus,
.wine-filter-menu .filter-item.active {
  background-color: #843436 !important;
}

.product-sort:hover {
  background-color: #843436 !important;
}
