.brand {
  font-family: "Tangerine", cursive !important;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  display: flex;
  align-items: center;
}

.text,
.text:active {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white !important;
}

.text:hover {
  text-decoration: none;
  color: rgb(168, 168, 168) !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.25s ease;
  border-bottom: 1px transparent;
}

.navbar-scrolled {
  background-color: rgba(48, 48, 48, 0.35);
  border-bottom: 1px solid;
  border-bottom-color: #777777;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
