.brand {
  font-family: "Tangerine", cursive !important;
  font-size: 48px;
}

.count-up-text {
  font-variant-numeric: tabular-nums;
}

.underlined {
  text-decoration: underline;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-left: 250px;
  padding-right: 250px;
}

.navlink,
.navlink:active {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 0.35rem;
  font-weight: bold;
  color: white !important;
}

.navlink:hover {
  text-decoration: none;
  color: rgb(168, 168, 168) !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.25s ease;
  border-bottom: 1px transparent;
}

.navbar-scrolled {
  background-color: rgba(48, 48, 48, 0.35);
  border-bottom: 1px solid;
  border-bottom-color: #777777;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.dropdown-link:active {
  background-color: #843436 !important;
}
