.exchanges-client-name {
  color: rgba(132, 52, 54);
}

.exchanges-btn {
  background-color: rgba(132, 52, 54) !important;
  border: none !important;
}

.exchanges-btn:hover {
  background-color: rgba(102, 32, 34) !important;
}

.exchanges-input {
  color: rgba(132, 52, 54);
  font-weight: 500;
}
