#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*--toastify-color-info: #fff;
  --toastify-color-warning: #fff;*/
  --toastify-color-success: #36ce6d;
  --toastify-color-error: #d05255;
  font-family: "Inter", sans-serif;
}

body {
  color: white;
  background-color: black;
}

body.login-register-background {
  position: relative;
  overflow: hidden;
}

body.login-register-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: radial-gradient(
      circle,
      rgba(26, 26, 26, 0.8) 0%,
      rgba(0, 0, 0, 1) 50%
    ),
    url("./assets/images/cellar.png");

  background-size: cover;
  background-position: center center;
  filter: blur(4px);
}

body.login-register-background #root {
  background-color: transparent;
}
